.delay-wrapper {
  background-color: #fff;
  padding: 0rem 2rem;
  margin-top: 6rem;
  width: auto;
}
.delay-container {
  border-radius: 1.1rem 1.1rem 0rem 0rem;
  background: #f9f9f9;
  padding: 1.8rem;
  width: auto;
  .common-table {
    table {
      border-spacing: 0px 1rem;
      tr {
        th {
          font-size: 14px;
          line-height: 17px;
          width: 9%;
          text-align: left;
          padding: 10px;
        }
      }
    }
  }
  .delay-footer{
    position: fixed;
    bottom: 0px;
    margin:1rem 0rem;
    width: 92%;
    .delay-footer-sec{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .blue-btn{
        width: 25rem;
        span{
          padding-left: 0.8rem;
          img{
            width: 1.2rem;
          }
        }
      }
      label{
        span{
          vertical-align: middle;
          img{
            width: 30px;
          }
        }
      }
    }
  }
}

// responsive
@media only screen and (max-width: 767px) {
  .delay-wrapper {
    margin-top: 0rem;
    padding: 0rem;
    .delay-container { 
    padding: 1.5rem;
      .common-table { 
        overflow: scroll;
        overflow-y: hidden;
      } 
    }
  }
}
