.univerityLink  {
    text-decoration: none;
}
.university-card{
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    width: 116px;
    margin-left: 30px;
    position: relative;
    cursor: pointer;
    .university-card-img{
        position: absolute;
        top: -1rem;
        left: -1.8rem;
    }
    p{
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #1B1B1B;
        padding:1.4rem;
        padding-left: 3rem;
        font-weight: 500;
    }
}
